$second_color: #f16d7f;
$site-width: 1600px;
$site-inner-width: 1140px;

@function adaptive-exsize($n) {
    @return $n * 100% / $site-width;
}

@function adaptive-insize($n) {
    @return $n * 100% / $site-inner-width;
}


 @keyframes menu-animation {
    0% {
      transform: rotateX(-100deg);
      transform-origin: top;
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1;
    }
  }
  