/*styles*/

$second_color: #f16d7f;

$site-width: 1600px;
$site-inner-width: 1140px;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
    font-family: Lato, AdobeInvisFont, MyriadPro-Regular, FontAwesome;
}

summary {
    display: block;
    cursor: pointer;
    -webkit-details-marker {
        display: none;
    }
    & > span {
        color: #838383;
        padding: 0 0 0 2px;
    }
}

input:focus-visible {
    outline: none;
}

.container {
    margin: auto;
    max-width: $site-width;
}

.container-inner {
    max-width: $site-inner-width;
    padding: 0 14.37%;
}

.main {
    &__promotions {
        margin: 98px * 100% / $site-width 0 0 0;
    }

    &__featured {
        margin: 90px * 100% / $site-width 0 0 0;
    }

    &__offer {
        margin: 113px * 100% / $site-width 0 0 0;
    }

    &__subscription {
        margin: 93px * 100% / $site-width 0 0 0;
    }

    &__breadcrumbs {
    }
}

.single-page {
    &__item-desc   {
        margin-top: -100px;
        background-color: white;
    }
}

.header {
    border-bottom: 1px solid #e8e8e8;
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 25px 0;
    }

    &__left {
        display: flex;
        align-items: center;
        max-width: 610px;
        width: 100%;
    }

    &__basket {
        margin: 0 26px 0 35px;
    }

    &__logo {
        margin: 0 37px 0 0;
    }

    &__right {
        display: flex;
        align-items: flex-end;
    }

    &__button {
        padding: 0 12px 0 19px;
        font-size: 15px;
        line-height: 38px;
        width: 131px;
        box-sizing: border-box;
    }
}

.cart-block {
    position: relative;

    &__container {
        width: 262px;
        position: absolute;
        left: -13px;
        top: 46px;
        background-color: white;
        padding: 4px 15px 21px 15px;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        z-index: 11;

        &::before {
            content: "";
            position: absolute;
            border-top: 1px solid #e8e8e8;
            border-left: 1px solid #e8e8e8;
            width: 9px;
            height: 9px;
            transform: rotate(45deg);
            top: -6px;
            left: 27px;
            background: #fff;
        }
    }

    &__label {
        background-color: $second_color;
        position: absolute;
        top: -9px;
        right: -9px;
        color: #fff;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        display: block;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(237, 237, 237, 0.74);
        padding: 17px 0;
        min-height: 85px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px 0 10px 15px;
        min-height: 85px;
        box-sizing: border-box;
    }

    &__heading {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
    }

    &__stars {
        & > span {
            font-size: 12px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: #e4af48;
        }
    }

    &__group {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0px 15px 0 0;

        &:hover {
            box-shadow: 0 0 5px 0 #0003;
            border-radius: 5px;
        }
    }

    &__quantity {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
        color: $second_color;
        word-spacing: 5px;
    }

    &__delete {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #c0c0c0;
        cursor: pointer;
        padding: 7px 0 7px 7px;

        &:hover {
            color: #000;
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 32px 0;
    }

    &__button {
        width: 100%;
        height: 50px;
        cursor: pointer;
        background: #fff;
        transition-duration: 300ms;

        &_checkout {
            display: block;
            border: 1px solid $second_color;
            color: $second-color;
            margin: 0 0 11px 0;

            &:hover {
                background: $second_color;
                color: #fff;
                transition-duration: 300ms;
            }
        }

        &_go-to-cart {
            display: block;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #4a4a4a;
            border: 1px solid #eaeaea;

            &:hover {
                box-shadow: 0 0 4px 0 #4a4a4a8f;
            }
        }
    }
}

.cart-total {
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;

    &__text {
    }

    &__value {
    }
}

.logo {
    position: relative;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    display: block;
    min-width: 170px;

    &__text {
        position: absolute;
        top: 13px;
        left: 72px;
    }

    &__last-letter {
        font-weight: 900;
        color: $second_color;
    }
}

.search-form {
    display: flex;
    height: 38px;
    max-width: 400px;
    width: 100%;
    z-index: 10;

    &__dropdown-menu {
        left: 0px;
        top: 35px;

        &::before {
            top: -6px;
            left: 69px;
        }
    }

    &__summary {
        padding: 0 8px 0 15px;

        & > span {
            padding: 0 0 0 8px;
        }
    }

    &__browse-link {
        position: relative;
        font-size: 14px;
        line-height: 38px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #222222;
        text-transform: capitalize;
        background-color: #cdcdcc;
        background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
        border: 1px solid #e6e6e6;
        border-radius: 3px 0px 0px 3px;

        box-sizing: border-box;

        & > span {
            color: #838383;
            padding: 0 0 0 2px;
        }
    }

    &__input {
        padding: 0 0 0 15px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        min-width: 80px;
        flex-basis: 277px;
    }

    &__button {
        border-radius: 0px 3px 3px 0px;
        border: 1px solid #e6e6e6;
        background-color: #ffffff;
        padding: 0 12px;
        cursor: pointer;
        & > span {
            color: #a4a4a4;
        }
    }
}

.dropdown-menu {
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    position: absolute;
    padding: 0 0 13px 0;

    &::before {
        content: "";
        position: absolute;
        border-top: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        width: 9px;
        height: 9px;
        transform: rotate(45deg);

        background: #fff;
    }

    &__item {
        width: 262px;
        padding: 0 20px;
    }

    &__heading {
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #232323;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 10px;
        margin-top: 11px;
    }

    &__list {
        list-style-type: none;
        line-height: 27px;
    }

    &__link {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #4f4f4f;
        display: inline-block;
        width: 100%;

        &:hover {
            color: $second_color;
        }
    }
}

.button {
    background-color: $second_color;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-transform: capitalize;

    & > span {
        padding: 0 0 0 8px;
    }

    &:hover {
        background: #ffffff;
        color: $second_color;
        outline: 1px solid $second_color;
    }
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__sub-menu {
        display: none;
        top: 45px;

        &_right {
            right: 0;

            &::before {
                top: -6px;
                right: 59px;
            }
        }

        &_left {
            left: 0;

            &::before {
                top: -6px;
                left: 59px;
            }
        }
    }

    &__item {
        position: relative;

        &:hover .menu__sub-menu {
            display: flex;
            z-index: 11;
        }
    }

    &__link {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
        padding: 18px 22px;

        &:hover {
            color: $second_color;
        }

        &:active {
            color: $second_color;
        }
    }
}

.banner {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        padding: 20.5% 0 26.05% 0;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        line-height: 0.75;
        border-left: 12px solid $second_color;
        padding: 0 0 0 12px;

        & > h1 {
            font-size: 60px;
            font-weight: 900;
            letter-spacing: 0.025em;
            color: #222222;
            text-transform: uppercase;
            padding-bottom: 18px;
        }

        & > h3 {
            font-size: 40px;
            text-transform: uppercase;

            & > span {
                color: $second_color;
            }
        }
    }
}

.promotions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    &__image {
        width: 100%;
        display: block;
    }

    &__column {
        display: grid;
        gap: 20px;
    }

    &__item {
        width: 100%;
        position: relative;

        &:hover {
            box-shadow: 0 0 3px 0px rgb(87, 87, 87);
            transition-duration: 200ms;
            transition-timing-function: linear;
        }
    }

    &__text {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 0.025em;
        color: #222222;
        background: #fff;
        position: absolute;
        top: 0;
        padding: 12px 18px;
        margin: 26px * 100% / 560px 0 0 0;
    }

    &__heading {
        font-size: 30px;
        color: $second_color;
    }
}

.featured {
    text-align: center;
    &__heading {
        font-size: 30px;
        line-height: 54px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #222222;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__stars {
        margin: 0 12px 0 0;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #e4af48;
        display: none;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 260px));
        gap: 26px;
        justify-content: space-between;
        margin: 60px * 100% / $site-width 0 0 0;
    }

    &__item {
        position: relative;
        transition-timing-function: linear;
        transition-duration: 200ms;
        text-align-last: left;
        &:hover {
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
            transition-duration: 200ms;
            transition-timing-function: linear;
        }

        &:hover .featured__stars {
            display: block;
        }
    }

    &__price {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $second_color;
        padding: 0 0 20px 15px;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__text {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #222222;
        padding: 19px 0 12px 15px;
        display: inline-block;
        text-align: left;

        &:hover {
            color: $second_color;
        }
    }

    &__item-info-link {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &__basket-layer {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 280px;
        background: #484848cf;
        display: flex;
        justify-content: center;
        transition-duration: 300ms;
        transition-timing-function: linear;

        &:hover {
            opacity: 1;
            transition-duration: 300ms;
            transition-timing-function: linear;
        }
    }

    &__link_inner {
        position: absolute;
        top: 35%;
    }

    &__link {
        display: flex;
        min-width: 123px;
        min-height: 39px;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
        align-items: center;
        border: 1px solid #ffffff;
        justify-content: center;

        &:hover {
            box-shadow: 0 0 5px 0 white;
        }
    }

    &__img-basket {
        padding: 0 8px 0 0;
    }

    &__button {
        padding: 13px 20px 13px 24px;
        margin: 49px * 100% / $site-width 0 0 0;
        text-align: center;
    }
}

.text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
}

.offer {
    display: flex;
    flex-wrap: wrap;

    &__image {
        position: relative;
        background-image: url(../images/offer/offer_image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-grow: 1;

        &:hover .offer__dark-layer {
            opacity: 0;
            transition-duration: 300ms;
        }

        padding: 135px * 100% / $site-inner-width 0 298px * 100% / $site-inner-width 0;
    }

    &__dark-layer {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        transition-duration: 300ms;
    }

    &__text {
        font-size: 32.2px;
        position: relative;
        color: #ffffff;
        text-transform: uppercase;
        padding: 0 0 0 39px;
    }

    &__heading {
        font-size: 53px;
        font-weight: 700;
        letter-spacing: 0.025em;

        & > span {
            color: $second_color;
        }
    }

    &__advantages {
        max-width: 373px;
        background-color: #222224;
        padding: 55px * 100% / $site-inner-width 43px * 100% / $site-inner-width 0 36px * 100% / $site-inner-width;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__advantage {
        display: flex;
        padding: 0 0 62px * 100% / 373px 0;
    }
}
.advantage {
    &__icon {
        padding: 0 30px 0 0;
        width: 45px;
    }

    &__heading {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #fbfbfb;
        text-transform: capitalize;
        padding: 0 0 12px 0;
    }
}

.subscription {
    display: flex;
    background-image: url(../images/subscription/subscription-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 22%;

    &__testimonials {
        flex-basis: $site-width / 2;
        padding: 111px * 100% / $site-inner-width 0 156px * 100% / $site-inner-width 0;
        border-right: 1px solid #fff;
    }

    &__subscribe {
        flex-basis: $site-width / 2;
    }
}

.testimonial {
    display: flex;

    &__image {
        padding: 0 28px 0 0;
    }

    &__photo {
        width: 83px;
        border-radius: 50%;
    }

    &__body {
        flex-basis: 386px;
        flex-shrink: 1;
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 0.025em;
        color: #222224;
    }

    &__author {
        padding: 16px 0 0 0;
        font-weight: 700;
        color: $second_color;
        text-transform: capitalize;
    }

    &__place {
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        color: #222224;
    }
}

.testimonials {
    &__carousel {
        list-style-type: none;
        margin: 41px 0 0 111px;
    }
}

.carousel {
    display: grid;
    grid-template-columns: 38px 38px 38px;
    gap: 13px;

    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__item {
        width: 38px;
        height: 4px;
        background-color: #d6d6d6;
        &_active {
            background-color: $second_color;
        }
    }
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__heading {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #222224;
        text-transform: uppercase;
        padding: 0 0 10px 0;
    }

    &__text {
        font-size: 14px;
        text-transform: uppercase;
    }

    &__form {
        margin: 35px 0 0 0;
    }
}

.subscribe-form {
    display: flex;
    &__input {
        flex-basis: 282px;
        height: 46px;
        background-color: #e1e1e1;
        border-radius: 23px 0 0 23px;
        border: none;
        padding: 0 15px 0 28px;
        flex-shrink: 3;
        box-sizing: border-box;
    }

    &__button {
        width: 104px;
        height: 46px;
        background-color: $second_color;
        border: none;
        border-radius: 0px 23px 23px 0px;
        color: #fff;
        flex-shrink: 0;

        &:hover {
            background-color: #fff;
            color: $second_color;
            border: 1px solid $second_color;
            cursor: pointer;
        }
    }
}

.footer {
    margin: 77px * 100% / $site-width 0 0 0;
    &__top {
        display: flex;
        align-items: center;
    }

    &__info {
        flex-basis: 427px;
        margin: 32px 0 0 0;
        padding: 0 4% 0 0;
    }

    &__p {
        padding: 10px 0 10px 0;
    }

    &__menus {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-basis: 622px;
        flex-shrink: 1;
    }

    &__menus-item {
        padding: 0px 12px 0 12px;
        margin: 32px 0 0 0;
    }

    &__heading {
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $second_color;
        text-transform: uppercase;
        padding-bottom: 15px;
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 97px * 100% / $site-width 0 0 0;
        height: 79px;
        background-color: #e6e6e6;
    }

    &__rights {
        font-size: 16px;
        line-height: 42px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #7a7a7a;
    }

    &__icons {
        display: flex;
    }
}

.footer-menu {
    list-style-type: none;

    &__link {
        font-size: 16px;
        padding: 10px 0 10px 0;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #898989;
        display: block;

        &:hover {
            color: $second_color;
        }
    }
}

.icons {
    &__item {
        width: 32px;
        height: 32px;
        background-color: #fff;
        text-align: center;
        margin: 0 0 0 8px;
    }

    &__link {
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #b2b2b2;
        width: 32px;
        height: 32px;
        display: inline-block;

        &:hover {
            background-color: $second-color;
            color: #fff;
        }
    }
}

.breadcrumbs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f3f4;
    padding-top: 65px * 100% / $site-width;
    padding-bottom: 65px * 100% / $site-width;

    &__heading {
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: $second_color;
    }

    &__links {
        color: #636363;
    }

    &__item {
    }

    &__link {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        text-transform: uppercase;
        color: #636363;

        &:hover {
            color: $second_color;
        }

        &_active {
            color: $second_color;
            font-weight: 700;
        }
    }
}

.shopping-cart {
    &__subscription {
        margin: 73px * 100% / $site-width 0 0 0;
    }
}

.cart-page {
    &__cart-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 42px;
    }

    &__adaptive-table {
        margin: 90px * 100% / $site-inner-width 0 0 0;
    }

    &__quantity-input {
        width: 54px;
        height: 30px;
        -moz-appearance: textfield;
        text-align: center;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #656565;
        border: 1px solid #eaeaea;
    }

    &__quantity-input::-webkit-outer-spin-button,
    &__quantity-input::-webkit-inner-spin-button {
        -moz-appearance: textfield;
        -webkit-appearance: none;
    }

    &__checkout-block {
        margin-top: 60px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        & > * {
            flex-basis: 355px;
            box-sizing: border-box;
            margin-right: 20px;
        }

        & div:last-of-type {
            margin-right: 0;
        }
    }
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;

    &__image {
        padding: 11px 0 42px 0;
        max-width: 100%;
    }

    &__arrow {
        position: absolute;
        display: block;
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.14);
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        & > span {
            font-size: 24px;
            line-height: 24px;
            font-weight: 400;
            color: #ffffff;
        }
    }

    &__arrow_left {
        left: 0;
        transition-duration: 300ms;

        &:hover {
            justify-content: flex-start;
            padding-left: 10px;
            box-sizing: border-box;
            transition-duration: 300ms;
        }
    }

    &__arrow_right {
        right: 0;

        transition-duration: 300ms;

        &:hover {
            justify-content: flex-end;
            padding-right: 10px;

            transition-duration: 300ms;
        }
    }
}

.adaptive-table {
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #656565;

    & td {
        padding: 20px 15px 20px 0;
        border-bottom: 1px solid #e8e9eb;
        text-align: center;
    }

    & th {
        border-bottom: 1px solid #e8e9eb;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.015em;
        color: #222222;
        padding-bottom: 16px;

        &:first-of-type {
            text-align: left;
        }
    }

    & .first_td_adaptive_table {
        text-align: left;
    }
}

.product-card {
    display: flex;
    transition-duration: 300ms;

    &:hover {
        box-shadow: 0 0 4px 0 #00000077;
        border-radius: 5px;
        transition-duration: 300ms;
    }

    &:hover .product-card__img {
        border-radius: 5px;
        transition-duration: 300ms;
    }

    &:hover .product-card__heading {
        color: $second_color;
        transition-duration: 300ms;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 0 0 21px;
    }

    &__heading {
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #222222;
    }

    &__property {
        font-weight: 300;
        color: #6f6e6e;

        & > span {
            font-size: 13px;
            line-height: 20px;
            font-weight: 400;
            color: #575757;
            padding: 0 10px 0 0;
        }
    }

    &__properties {
    }
}

.white-button {
    display: block;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    background-color: #fff;
    border: 1px solid #eaeaea;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px 0 #57575755;
    }

    &_big {
        padding: 20px 39px;
        font-size: 14px;
    }

    &_small {
        font-size: 11px;
        padding: 12px 15px;
    }
}

.item-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eaeaea;
    margin: auto;
    margin-top: -100px;
    max-width: 1140px;
    position: relative;
    z-index: 5;

    &__border {
        width: 63px;

        height: 3px;
        background-color: $second_color;
        position: absolute;
        top: 96px;
    }

    &__wrapper {
        max-width: 620px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #eaeaea;
    }

    &__collection {
        padding: 73px 0 0 0;
        border-bottom: 1px solid #eaeaea;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__collection-heading {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #f16d7f;
        text-transform: uppercase;
    }

    &__heading {
        font-size: 18px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
        margin-top: 13px;
    }

    &__text {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #5e5e5e;
        text-align: center;
        padding-top: 62px;
    }

    &__parameters {
        display: flex;
        padding-top: 28px;
    }

    &__parameter {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #b9b9b9;
        text-transform: uppercase;
        padding-right: 45px;

        &:last-of-type {
            padding-right: 0;
        }

        & > span {
            color: #2f2f2f;
        }
    }

    &__price {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: #ef5b70;
        padding-top: 30px;
        padding-bottom: 38px;
    }

    &__form {
    }
}
.to-cart-form {
    padding-top: 60px;
    padding-bottom: 115px;
    &__fields-wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 540px;
        justify-content: space-between;
        padding-bottom: 25px;
    }

    &__label {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #2f2f2f;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    &__select-wrapper {
    }

    &__field {
        width: 144px;
        height: 35px;
        -moz-appearance: textfield;
        text-align: center;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #656565;
        border: 1px solid #eaeaea;
        text-align: left;
        padding: 0px 15px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
    }

    &__color-select {
        appearance: none;
    }

    &__color-icon {
    }

    &__size-select {
        appearance: none;
    }

    &__quantity-input {
    }

    &__quantity-input::-webkit-outer-spin-button,
    &__quantity-input::-webkit-inner-spin-button {
        -moz-appearance: textfield;
        -webkit-appearance: none;
    }

    &__quantity-input {
    }

    &__button {
        display: block;
        background-color: #ffffff;
        border: 1px solid #ef5b70;
        max-width: 540px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        color: #ef5b70;

        & > img {
            padding: 13px;
        }
    }

    &__img-cart {
    }
}
.color-icon {
    &_red {
    }

    &_green {
    }

    &_blue {
    }
}
.quantity-input {
}

.checkout-block {
    &__heading {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
    }

    &__address-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > * {
            margin-bottom: 22px;
        }
    }

    &__discount-form {
        font-size: 14px;
        & > * {
            margin-bottom: 22px;
        }
    }

    &__proceed-block {
    }

    & input,
    & select {
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        padding: 16px 18px;
        width: 100%;
        box-sizing: border-box;
    }

    & select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none !important;
        cursor: pointer;
    }
}

.proceed-block {
    padding: 44px;
    background-color: #f5f3f3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__totals {
        padding-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #e2e2e2;
    }

    &__sub-total {
        display: flex;
        font-size: 11px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #4a4a4a;
        justify-content: flex-end;
    }

    &__grand-total {
        display: flex;
        justify-content: flex-end;
    }

    &__button {
        padding: 18px 30px;
        border: none;
        cursor: pointer;
        margin-top: 17px;
        width: 100%;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
}

.sub-total {
    &__text {
        padding-right: 20px;
    }
}

.grand-total {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    padding-top: 10px;

    &__text {
        padding-right: 20px;
    }

    &__price {
        color: $second_color;
    }
}

.select-wrapper {
    position: relative;
    width: 100%;

    &::after {
        content: "\f0d7";
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        color: #bdbdbd;
        position: absolute;
        top: 20px;
        right: 12px;
        cursor: pointer;
    }
}

@media (max-width: 1024px) {
    .header {
        &__head {
            justify-content: center;
            flex-wrap: wrap;
        }

        &__left {
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
    }

    .cart-page {
        &__checkout-block {
            flex-wrap: wrap;
            justify-content: center;

            & > * {
                margin-bottom: 50px;
                margin-right: 0;
            }
        }
    }

    .offer {
        &__advantages {
            max-width: 100%;
        }

        &__advantage {
            padding: 0 0 30px * 100% / 373px 0;
        }
    }

    .footer {
        &__info {
            flex-basis: 100%;
        }
        &__top {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .subscription {
        &__testimonials {
            padding-right: 5%;
        }

        &__subscribe {
            padding-left: 5%;
        }
    }
}

@media (max-width: 768px) {
    .cart-page__checkout-block > * {
        flex-basis: 100%;
    }

    .cart-page {
        &__cart-buttons {
            flex-wrap: wrap;
        }

        &__white-button {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }

        &__checkout-block {
        }
    }
    .white-button {
        &_big {
        }
    }

    .header {
        &__left {
            flex-wrap: wrap;
        }

        &__form {
            margin-top: 20px;
        }
    }

    .dropdown-menu {
        &__item {
            max-width: 220px;
        }
    }

    .menu {
        &__sub-menu {
            width: 180px;
            flex-wrap: wrap;
        }
    }

    .cart-block__container {
        left: -60px;
    }

    .container-inner {
        padding: inherit 5%;
    }

    .promotions {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .featured {
        &__items {
            justify-content: center;
        }
    }

    .subscription {
        flex-wrap: wrap-reverse;

        &__testimonials {
            border-top: 1px solid #fff;
            border-right: none;
        }

        &__subscribe {
            padding: 111px * 100% / $site-inner-width 0 156px * 100% / $site-inner-width 0;
        }
    }

    .subscription__testimonial {
        justify-content: center;
    }

    .footer {
        &__bottom {
            justify-content: center;
            padding: 0 0 10px 0;
        }
    }

    .adaptive-table {
        width: 100%;
        text-align: center;
        border-collapse: inherit;

        & thead {
            display: none;
        }

        & tr {
            display: block;
            margin-bottom: 1rem;
            border-bottom: 2px solid #e8e9eb;
            border: 1px solid #eaeaea;
            padding: 15px;
            border-radius: 5px;
        }

        & td {
            display: block;
            text-align: right;
        }

        & td::before {
            content: attr(aria-label);
            float: left;
            font-weight: bold;
        }

        & .first_td_adaptive_table:before {
            content: attr(aria-label);
            float: none;
            font-weight: bold;
            display: none;
        }
    }
}
