/*styles*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: Lato, AdobeInvisFont, MyriadPro-Regular, FontAwesome;
}

.container {
  margin: auto;
  max-width: 1600px;
}

.container-inner {
  max-width: 1140px;
  padding: 0 14.37%;
}

.main__promotions {
  margin: 6.125% 0 0 0;
}

.main__featured {
  margin: 5.625% 0 0 0;
}

.main__offer {
  margin: 7.0625% 0 0 0;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px 0;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 610px;
  width: 100%;
}

.header__basket {
  margin: 0 26px 0 0;
}

.header__logo {
  margin: 0 37px 0 0;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__button {
  padding: 0 12px 0 19px;
  font-size: 15px;
  line-height: 38px;
}

.logo {
  position: relative;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  display: block;
  min-width: 170px;
}

.logo__text {
  position: absolute;
  top: 13px;
  left: 72px;
}

.logo__last-letter {
  font-weight: 900;
  color: #f16d7f;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  max-width: 400px;
  width: 100%;
}

.search-form__browse-link {
  font-size: 14px;
  line-height: 38px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  text-transform: capitalize;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-form__browse-link > span {
  color: #838383;
  padding: 0 0 0 2px;
}

.search-form__input {
  padding: 0 0 0 15px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  min-width: 80px;
  -ms-flex-preferred-size: 277px;
      flex-basis: 277px;
}

.search-form__button {
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding: 0 12px;
  cursor: pointer;
}

.search-form__button > span {
  color: #a4a4a4;
}

.button {
  background-color: #f16d7f;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-transform: capitalize;
}

.button > span {
  padding: 0 0 0 8px;
}

.button:hover {
  background: #ffffff;
  color: #f16d7f;
  outline: 1px solid #f16d7f;
}

.menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  padding: 18px 22px;
}

.menu__link:hover {
  color: #f16d7f;
}

.menu__link:active {
  color: #f16d7f;
}

.banner {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__container {
  padding: 20.5% 0 26.05% 0;
}

.banner__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0.75;
  border-left: 12px solid #f16d7f;
  padding: 0 0 0 12px;
}

.banner__heading > h1 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.banner__heading > h3 {
  font-size: 40px;
  text-transform: uppercase;
}

.banner__heading > h3 > span {
  color: #f16d7f;
}

.promotions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.promotions__image {
  width: 100%;
  display: block;
}

.promotions__column {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.promotions__item {
  width: 100%;
  position: relative;
}

.promotions__item:hover {
  -webkit-box-shadow: 0 0 3px 0px #575757;
          box-shadow: 0 0 3px 0px #575757;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.promotions__text {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
  background: #fff;
  position: absolute;
  top: 0;
  padding: 12px 18px;
  margin: 4.64286% 0 0 0;
}

.promotions__heading {
  font-size: 30px;
  color: #f16d7f;
}

.featured {
  text-align: center;
}

.featured__heading {
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}

.featured__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 260px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 260px));
  gap: 26px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3.75% 0 0 0;
}

.featured__item {
  position: relative;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.featured__item:hover {
  -webkit-box-shadow: 0 0 3px 0px #575757;
          box-shadow: 0 0 3px 0px #575757;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.featured__price {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  padding: 0 0 20px 15px;
}

.featured__img {
  width: 100%;
  display: block;
}

.featured__text {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  padding: 19px 0 12px 15px;
  display: inline-block;
}

.featured__text:hover {
  color: #f16d7f;
}

.featured__basket-layer {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  background: #484848cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.featured__basket-layer:hover {
  opacity: 1;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.featured__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 123px;
  height: 39px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 98px 0 0 0;
}

.featured__link:hover {
  background: white;
  color: #484848cf;
}

.featured__img-basket {
  padding: 0 8px 0 0;
}

.featured__button {
  padding: 13px 20px 13px 24px;
  margin: 3.0625% 0 0 0;
  text-align: center;
}

.text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer__image {
  position: relative;
  background-image: url(../images/offer/offer_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 11.84211% 0 26.14035% 0;
}

.offer__dark-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.offer__dark-layer:hover {
  opacity: 0;
}

.offer__text {
  font-size: 32.2px;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 0 0 39px;
}

.offer__text:hover ~ .offer__dark-layer {
  opacity: 0;
}

.offer__heading {
  font-size: 53px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.offer__heading > span {
  color: #f16d7f;
}

.offer__advantages {
  max-width: 373px;
  background-color: #222224;
  padding: 4.82456% 3.77193% 0 3.15789%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 16.62198% 0;
}

.advantage__icon {
  padding: 0 30px 0 0;
  width: 45px;
}

.advantage__heading {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  text-transform: capitalize;
  padding: 0 0 12px 0;
}

@media (max-width: 1024px) {
  .offer__advantages {
    max-width: 100%;
  }
  .offer__advantage {
    padding: 0 0 8.0429% 0;
  }
}

@media (max-width: 768px) {
  .promotions {
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featured__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */